absl-py>=1.4,<3
asn1crypto==1.3.0
backcall==0.1.0
blinker==1.4
cachetools==3.1.1
certifi==2020.4.5.1
cffi>=1.15.1,<2
chardet==3.0.4
click==7.1.1
cryptography>=42,<45
cycler==0.10.0
decorator==4.4.2
google-auth>=2.6,<3
google-auth-oauthlib>=0.5,<2
grpcio>=1.54,<2
idna==2.9
ipython>=8.17,<9
ipython-genutils==0.2.0
jedi>=0.18.2,<0.19
kiwisolver>=1.4,<2
Markdown==3.1.1
matplotlib>=3.6,<4
mkl-fft>=1.3.11,<1.4
mkl-random>=1.2.8,<1.3
mkl-service>=2.4,<3
numpy>=1.23,<2
oauthlib==3.1.0
olefile==0.46
opencv-python==4.10.0.82
packaging
pandas>=2.2,<3
parso==0.8.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow>=10,<11
protobuf>=4.25,<5
prompt-toolkit>=3.0.39,<3.1
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pyparsing==2.4.7
PyJWT==1.7.1
pyOpenSSL>=24,<25
PyQt5>=5.15.9,<6
PyQt5-sip>=12.13,<13
PySocks==1.7.1
python-dateutil>=2.8.2,<3
pytz>=2020.1,<2024
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
six==1.14.0
tensorboard>=2.17,<2.20
timm>=0.9,<0.10
torch>=2.4,<2.5
torchvision>=0.19,<0.20
tornado==6.4
tqdm==4.45.0
traitlets>=5.9,<6
urllib3==1.25.8
wcwidth==0.1.9
Werkzeug==1.0.1
wheel
